<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.web.stock.mapper.CurrentOrderMapper">
    <select id="getCurrentOrderById" resultType="com.web.stock.bean.CurrentOrder">
        SELECT * FROM CURRENTORDER WHERE id = #{id}
    </select>
    <select id="getCurrentOderByUserName" resultType="com.web.stock.bean.CurrentOrder">
        SELECT * FROM CURRENTORDER WHERE userName = #{userName}
    </select>
    <!-- String id;
    String userName;        //用户名
    String stockId;            //股票编码
    String stockName;       //股票名
    Integer count;          //持仓数量
    Integer countCansell;   //可卖数量
    Double primeCost;       //成本价
    Double currentPrice;    //现价
    Integer todayBuy;       //今日买入
    Integer todaySell;      //今日卖出
    Double profitLoss;      //浮动盈亏 -->
    <!-- <insert id="addCurrentOrder" parameterType="com.web.stock.bean.CurrentOrder">
        insert into currentorder (userName,stockId,count,countCansell,primeCost,primeCost,currentPrice,todayBuy,todaySell) 
        values (#{userName},#{stockId},#{count},#{countCansell},#{},#{})
    </insert> -->
</mapper>