<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.web.stock.mapper.UserMapper">
    <select id="findAll" resultType="com.web.stock.bean.User">
        SELECT * FROM user
    </select>
    <select id="findbyUserName" resultType="com.web.stock.bean.User">
        select * from user where username = #{username}
    </select>
    <select id="findbyEmail" resultType="com.web.stock.bean.User">
        select * from user where email = #{email}
    </select>
    <insert id="insertUser" parameterType="com.web.stock.bean.User">
        insert into user (username,email,password) values (#{username},#{email},#{password})
    </insert>
    <select id="findIdbyUserName" resultType="java.lang.Integer">
        select id from user where username = #{username}
    </select>
    <update id="setSexbyId">
        update user set
            sex = #{sex}
            where 
    </update>
    <update id="AddressbyId">
        update user set
            address = #{address}
            where id = #{id}
    </update>
    <update id="setUsernamebyId">
        update user set
            username = #{username} 
            where id= #{id}
    </update>
    <update id="setEmailbyId">
        update user set 
            email = #{email} 
            where id = #{id}
    </update>
</mapper>